APP_NAME="BOA TTS Service"

HF_HOME=/models/hf_cache
MODEL_CACHE_DIR=/models/cache

TTS_DEVICE=cuda

AMHARIC_TTS_MODEL=african-low-resource/omnivoice-amharic
AMHARIC_VOICE_REFERENCE_PATH=/app/assets/voices/amharic_reference_voice.wav
AMHARIC_VOICE_REFERENCE_TEXT_PATH=/app/assets/voices/amharic_reference_voice.txt
AMHARIC_TTS_CHUNK_CHARS=140
AMHARIC_TTS_CHUNK_PAUSE_MS=120

REQUEST_TIMEOUT_SECONDS=300